#d {
    width: 100vw;
    height: 100vh;
    background: #001f3a;
    position: relative;
    overflow: hidden;
  }
  
  .star {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, .5);

    &::before {
        content: '';
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
    }
  }
  
  .shine {
    animation: shine infinite alternate;
  }
  
  @keyframes shine {
    from {
      box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, .5);
    }
    to {
      box-shadow: 0px 0px 5px 10px rgba(255, 255, 255, .5);
    }
  }