@import "countries";

.flag {
    &-start {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: rgb(57, 4, 126);
        color: #e0ffff;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-out;

        &.hiding {
            animation-name: fadeOut;
            animation-duration: 3s;
            // animation-iteration-count: infinite;

            button {
                animation-name: toFly;
                animation-duration: 3s;
                // animation-iteration-count: infinite;
            }
        }

        button {
            width: 150px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;

            // margin: auto;

            border: 2px solid #e0ffff;
        }
    }

    &-game {
        width: 100vw;
        height: 100vh;
        background-color: bisque;
        transition: all .3s ease-in;
        .flag {
            display: flex;
            min-height: 450px;
            margin-bottom: 3rem;
        }
        img {
            margin: auto;
            width: 450px;
            height: 100%;
        }

        &.hiding {
            animation-name: fadeIn;
            animation-duration: 4.5s;
            // animation-iteration-count: infinite;
        }
    }   
}

.restart {
    position: absolute;
    top: 1rem;
    left: 1rem;

    background-color: #e0ffff;
    color: #1a1818;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem .8rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, .3);
    font-size: 14px;
}


@keyframes fadeOut {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}

@keyframes toFly {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 100%;
        display: none;
    }
}